{% extends "base.html" %}

{% block content %}
<h2>{{ data.ticker }} - {{ data.name }}</h2>

<div class="card">
    <p><strong>Ostatnia cena:</strong> {{ data.last_price }} USD</p>
    <p><strong>Wolumen:</strong> {{ data.volume }}</p>
    <p><strong>Trend:</strong> {{ data.trend }}</p>
    <p><strong>Prognoza modelu:</strong> {{ data.prediction }}</p>
</div>
<div class="chart-card">
    <div class="chart-topbar">
        <div>
            <strong>{{ data.ticker }}</strong>
            <span>{{ data.name }}</span>
            <span id="chart-range-label">Widok: 1Y</span>
            <span id="chart-candle-label">Świece: 1D</span>
        </div>

        <div class="range-buttons">
            <button data-range="1M">1M</button>
            <button data-range="6M">6M</button>
            <button data-range="1Y">1Y</button>
            <button data-range="5Y">5Y</button>
            <button data-range="ALL">ALL</button>
        </div>
    </div>

    <div id="stock-chart" data-ticker="{{ data.ticker }}"></div>
</div>

<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script src="{{ url_for('static', filename='js/stock_chart.js') }}"></script>

<a href="{{ url_for('index') }}">Wróć do wyboru spółki</a>
{% endblock %}